{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 3 versions"]
      }
    }]
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime", "babel-plugin-transform-regenerator"],
  "env": {
    "test": {
      "presets": ["env"]
    }
  }
}
